---
import { CollectionEntry } from 'astro:content'

import PostTags from '../post-tags/PostTags.astro'
import PostMeta from '../post-meta/PostMeta.astro'

import './PostCard.css'

const { posts } = Astro.props
---

<>
  {
    posts.map((post) => {
      const { cover_image, title, description, tags } = post.data
      return (
        <div
          class="post-card content-box"
          class:list={[{ 'post-card--has-poster': cover_image }]}
        >
          <div class="post-card__header">
            {cover_image && (
              <img
                alt="Cover image"
                class="post-card__image"
                src={cover_image}
              />
            )}
          </div>

          <div class="post-card__content">
            <h2 class="post-card__title">{title}</h2>
            <p class="post-card__description">{description}</p>
            <PostMeta classes="post-card__meta" post={post.data} />
            <PostTags classes="post-card__tags" tags={tags} />
            <a class="post-card__link" href={`/${post.slug}`}>
              Link
            </a>
          </div>
        </div>
      )
    })
  }
</>
