---
import { Image } from 'astro:assets'
import Author from '../components/author/Author.astro'
import PostMeta from '../components/post-meta/PostMeta.astro'
import PostTags from '../components/post-tags/PostTags.astro'
import Layout from './Layout.astro'

import '../styles/blog-layout.css'

const { post } = Astro.props
const { title, description, tags, cover_image } = post.data
---

<Layout
  showLogo={true}
  title={title}
  description={description}
  cover_image={cover_image}
  data={post.data}
>
  <div class="post-title">
    <h1 class="post-title__text">
      {title}
    </h1>

    <PostMeta post={post.data} />
  </div>

  <div class="post content-box">
    <div class="post__header">
      {cover_image && <img alt="Cover image" src={cover_image} />}
    </div>

    <div class="post__content">
      <slot />
    </div>

    <div class="post__footer">
      <PostTags tags={tags} />
    </div>
  </div>

  <!-- <div class="post-comments"> -->
  <!-- Add comment widgets here -->
  <!-- </div> -->

  <Author showTitle={false} classes="post-author" />
</Layout>
